<div class="wrapper">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
          <div class="_logo"><a href="#"><img src="../../../content/img/Kellton-logo.png" alt="" /></a> </div>
          <!-- Sidebar toggle button-->
          <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard <i class="fa fa-angle-down"> </i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">All Wells Dashboard</a></li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Advisory365 <i class="fa fa-angle-down"> </i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Trendz</a></li>
                    <li><a href="#">Alarms</a></li>
                    <li><a href="#">Events</a></li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operations <i class="fa fa-angle-down"> </i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Equipment Management</a></li>
                    <li><a href="#">Field Service Mangement</a></li>
                    <li><a href="#">Quality Assurance Tracker</a></li>
                    <li><a href="#">Application Engineering</a></li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contract Management <i class="fa fa-angle-down"> </i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Contract KPI</a></li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">LiftEd <i class="fa fa-angle-down"> </i></a>
                  <ul class="dropdown-menu" role="menu">
                 <li><a href="#"> Knowledge Hub</a></li>
                    <li><a href="#">Expert Advice</a></li>
                  </ul>
                </li>
                <li><a href="#"> Report Center </a></li>
              </ul>
          </div>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown notifications-menu"> <a href="#" class="dropdown-toggle" title="Calender"> <img src="../../../content/img/calender-icon.png"> </a> </li>
                <li class="dropdown notifications-menu"> <a href="#" class="dropdown-toggle" title="Notifications"> <img src="../../../content/img/notification-icon.png"> </a> </li>
                <li class="dropdown tasks-menu"> <a href="#" class="dropdown-toggle" title="Alarms" data-toggle="modal" data-target="#product_view1"> <img src="../../../content/img/alarm-icon.png"> </a> </li>
              <li class="dropdown user user-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="../../../content/img/user-icon.png" class="user-image" alt="User Image"> <span class="hidden-xs"> Welcome, User <i class="fa fa-angle-down"></i></span> <br>
                <small>Last Login: 15 Nov 3:00 PM</small> </a>
                <ul class="dropdown-menu custome-menu">
                  <li><a href="#"> <img src="../../../content/images/admin_panel.png" alt="" /> Admin </a></li>
                  <li><a href="#"> <img src="../../../content/images/admin_panel.png" alt="" /> Vendor </a></li>
                   <li><a href="#"> <img src="../../../content/images/logout.png" alt="" /> Logout </a></li>
                </ul>
              </li>
              <li></li>
            </ul>
          </div>
        </nav>
      </header>

  <aside class="main-sidebar">
    <section class="sidebar bg">
      <div class="admin_nav">
        <ul>
          <li> <a href="#" class="active"> <img src="../../../content/images/well_mngt.png" alt="" /> Wells Management </a></li>
          <li> <a href="#"> <img src="../../../content/images/mange_users.png" alt="" /> Manage Users</a></li>
          <li> <a href="#"> <img src="../../../content/images/Analysis_reports.png" alt="" /> Analysis Reports </a></li>
          <li> <a href="#"> <img src="../../../content/images/device_mngt.png" style="height: 29px;" alt="" /> Device Management </a></li>
        </ul>
      </div>
    </section>
    <!-- /.sidebar -->
  </aside> 

  
</div>